* {margin: 0; padding: 0;}

body, a{
	color: #000;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	font-style: normal;
	font-weight: 300;
}
a{
	color: #015696;
}

h1{
	font-family: 'Lato', sans-serif;
	font-style: thin;
	font-weight: 100;
	font-size: 90px;
}
h3{
	color: #015696;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
}


header{
	background-color: #015696;
}

.logo{
	color: #fff;
	float: right;
	margin-right:80px;
}

table{
	margin-top: 30px;
}

input[type=checkbox] {
	visibility: hidden;
}

.customCheckbox {
	height: 28px;
	float: left;
	margin-right: 3px;
}

.customCheckbox label {
	cursor: pointer;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: solid 1px #333;
	border-radius: 50px;
	text-align: center;
	padding: 0 5px 0 5px;
	float: left;
}

.customCheckbox label:hover {
	background-color: #888;
	color: #fff;
}

.customCheckbox input[type=checkbox]:checked + label{
	background-color: #333;
	color: #fff;
}

select{
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	cursor: pointer;
	border-radius: 0;
	background-image: url("/assets/chevron.png") !important;
	background-repeat: no-repeat;
	background-position: 94% 6px,
						 center;
}





/***************************
*  NAVIGATION STYLES       *
****************************/

nav{
	padding-left: 0 !important;
	margin-top:30px;
	width: 100%;
}

nav ul{
	padding-left: 0;
	list-style: none;
}

nav a{
	text-decoration: none !important;
	padding: 20px 20px 20px 40px;
	display: inherit;
}
nav a:hover{
	color: #000;
}

.active, .active:hover{
	color: #fff;
	background-color: #015696;
}


/*.add-user-profile, .user-contanct-info, .add-user-skills, .add-user-strengths, .add-user-system-info{
	width: 35%;
	margin:20px 50px 10px 50px; 
	background-color: #F0F0F5
}*/


/***************************
*  SEARCH STYLES       *
****************************/


/***************************
*  DIRECTORY STYLES       *
****************************/
.employee-types{
	margin-top: 20px;
}


/***************************
*  ORG. CHART STYLES       *
****************************/
.tree
{
    margin-left: auto;
    margin-right: auto;
}

.tree ul {
    padding-top: 20px; position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li .selected {
    background-color: #015696;
    color: #ffffff;
}
/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 3px solid #ccc;
    width: 50%; height: 20px;
}
.tree li:after{
    right: auto; left: 50%;
    border-left: 3px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
    border-right: 3px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 3px solid #ccc;
    width: 0; height: 20px;
    margin-left: -1px;
}

.tree ul ul ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 0px solid #fff;
    width: 0; height: 20px;
    margin-left: -1px;
}

.tree li a{
    border: 3px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;

    display: inline-block;


    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}


/***************************
*  ADD TALENT STYLES       *
****************************/



/***************************
*  BASEBALL CARD           *
****************************/


.employee-headshot img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 25px
}

.employee-intro .row{
	margin-top: 12px;
	text-align: center;
}
.employee-intro .row:last-child{
	margin-top: 50px;
}

