<div class="user-contanct-info">
	<p>User contact info</p>

	<label for="skype-id">Skype ID</label>
	<input type="text" name="" id="skype-id"/>


	<label>
		Location
	<label for="state_street">State Street</label>
	<input id="state_street" type="checkbox">

	<label for="hoffman_estates">Hoffman Estates</label>
	<input id="hoffman_estates" type="checkbox">

	<label for="splits_time">Splits Time Evenly</label>
	<input id="splits_time" type="checkbox">
	</label>


	<label for="desk-num">Desk #</label>
	<input type="text" name="" id="desk-num"/>

	<label for="phone-num">Phone #</label>
	<input type="text" name="" id="phone-num"/>

	<label for="email">Email Address</label>
	<input type="text" name="" id="email"/>
</div>