<div class="row add-user">
	<div class="step1" ng-show="step === 1">
		<div class="col-md-6">
			<div add-user-profile></div>
		</div>
		<div class="col-md-6">
			<div add-user-contact-info></div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-default" ng-click="getStep(2)">Next</button>	
			</div>
			{{newUser}}
		</div>
	</div>


	<div class="step2" ng-show="step === 2">
		<div class="col-md-6">
	
			<div add-user-skills></div>
		</div>
		<div class="col-md-6">
			<div add-user-strengths></div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-default" ng-click="getStep(1)">Back</button>	
				<button class="btn btn-default" ng-click="getStep(3)">Next</button>	
			</div>
			{{newUser}}	
		</div>
	</div>


	<div class="step3" ng-show="step === 3">
		<div class="col-md-12">
			<div add-user-system-info></div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-default" ng-click="getStep(2)">Back</button>
				<button ng-click="saveNewUser()" class="btn btn-default" type="submit">Save</button>	
				{{newUser}}	
			</div>
		</div>
	</div>


</div>

