<div class="user-contanct-info">
	<p>User contact info</p>

	<label for="skype-id">Skype ID</label>
	<input type="text" name="" id="skype-id" ng-model="newUser.skypeId"/>

	<label>
		Location
		<label ng-repeat="location in newUserOpts.locations">
			<input type="checkbox" checklist-model="newUserLocationList" checklist-value="location"> {{location}}
		</label>
	</label>

	<label for="desk-num">Desk #</label>
	<input type="text" name="" id="desk-num" ng-model="newUser.deskNumber"/>

	<label for="phone-num">Phone #</label>
	<input type="text" name="" id="phone-num" ng-model="newUser.phoneNumber"/>

	<label for="email">Email Address</label>
	<input type="text" name="" id="email" ng-model="newUser.email"/>
</div>