<div class="add-user-profile">
	<p>Profile Information</p>
	<label for="pic-upload">Picture <span>required</span></label>
	<button id="pic-upload" class="btn btn-default btn-sm">Upload</button>


	<label for="first-name">First Name <span>Required</span></label>
	<input type="text" name="" id="first-name" ng-model="newUser.firstName" placeholder="{{newUser.firstName}}" />

	<label for="last-name">Last Name <span>Required</span></label>
	<input type="text" name="" id="last-name" ng-model="newUser.lastName"/>

	<label for="discipline">Discipline <span>Required</span></label>
	<select id="discipline" ng-model="newUser.discipline">
		<option>discipline1</option>
		<option>discipline2</option>
		<option selected>discipline3</option>
		<option>discipline4</option>
	</select>

	<label for="title">Title <span>Required</span></label>
	<select id="title" ng-model="newUser.title">
		<option</option>
		<option</option>
		<option selected>title3</option>
		<option</option>
	</select>

	<label for="manager">Manager <span>Required</span></label>
	<select id="manager" ng-model="newUser.manager">
		<option>manager1</option>
		<option>manager2</option>
		<option selected>manager3</option>
		<option>manager4</option>
	</select>


	<label for="mentor">Mentor</label>
	<input type="text" name="" id="mentor" ng-model="newUser.mentor"/>

	<label for="mentee">Mentee</label>
	<input type="text" name="" id="mentee" ng-model="newUser.mentee"/>
	
	<label for="buddy">Buddy</label>
	<input type="text" name="" id="buddy" ng-model="newUser.buddy"/>	


</div>