<h3>System Information</h3>

<form class="add-user-system-info">
	<div class="form-group">
		<label>Asset tag / machine #
			<input type="text" class="form-control" name="" ng-model="newUser.machineNumber"/>
		</label>	
	</div>
	<div class="form-group">
		<label for="machineType">Machine Type <span>Required</span></label>
		<select id="machineType" class="form-control" ng-model="newUser.machineType">
			<option>---</option>
		</select>
	</div>
	<div class="form-group">
		<label>Operating system
			<label for="operating-system"></label>
			<input id="operating-system" type="checkbox" ng-model="newUser.operatingSystem"/>
		</label>
	</div>
	<div class="form-group">
		<label>Last 5
			<input type="text" class="form-control" ng-model="newUser.last5"/>
		</label>
	</div>
	<div id="new-software-info" class="form-group">
		<label>Software Information</label>
		<div class="SI-row" ng-repeat="row in range(softwareInfoRows) track by $index">
			<select ng-model="softwareInformationList">
				<option>---</option>
			</select>
			<input type="text" class="form-control" ng-model="softwareInformationList"/>
		</div>
	</div>

	<div class="form-group">
		<button class="btn btn-default btn-sm" ng-click="addRow()">
			<span class="glyphicon glyphicon-plus"></span>
			Add
		</button>	
		<button class="btn btn-default btn-sm" ng-click="removeRow()">
			<span class="glyphicon glyphicon-minus"></span>
			Remove
		</button>	
	</div>
	<div class="form-group">
		<label>Additional Notes
			<textarea class="additional-notes form-control" ng-model="newUser.additionalNotes"></textarea>
		</label>
	</div>
</form>
