<h3>Profile Information</h3>

<form class="add-user-profile">
	<div class="form-group">
		<label for="pic-upload">Picture <span>required</span></label>
		<button id="pic-upload" class="btn btn-default btn-sm">Upload</button>
	</div>
	<div class="form-group">
		<label for="first-name">First Name <span>Required</span></label>
		<input type="text" class="form-control" name="" id="first-name" ng-model="newUser.firstName" placeholder="{{newUser.firstName}}" />
	</div>
	<div class="form-group">
		<label for="last-name">Last Name <span>Required</span></label>
		<input type="text" class="form-control" name="" id="last-name" ng-model="newUser.lastName"/>
	</div>
	<div class="form-group">
		<label for="discipline">Discipline <span>Required</span></label>
		<select id="discipline" class="form-control" ng-model="newUser.discipline">
			<option>discipline1</option>
			<option>discipline2</option>
			<option selected>discipline3</option>
			<option>discipline4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="title">Title <span>Required</span></label>
		<select id="title" class="form-control" ng-model="newUser.title">
			<option</option>
			<option</option>
			<option selected>title3</option>
			<option</option>
		</select>
	</div>
	<div class="form-group">
		<label for="manager">Manager <span>Required</span></label>
		<select id="manager" class="form-control" ng-model="newUser.manager">
			<option>manager1</option>
			<option>manager2</option>
			<option selected>manager3</option>
			<option>manager4</option>
		</select>
	</div>
	<div class="form-group">
		<label for="mentor">Mentor</label>
		<input type="text" class="form-control" name="" id="mentor" ng-model="newUser.mentor"/>
	</div>
	<div class="form-group">
		<label for="mentee">Mentee</label>
		<input type="text" class="form-control" name="" id="mentee" ng-model="newUser.mentee"/>
	</div>
	<div class="form-group">
		<label for="buddy">Buddy</label>
		<input type="text" class="form-control" name="" id="buddy" ng-model="newUser.buddy"/>	
	</div>




</form>