<h3>User contact info</h3>
<form class="user-contanct-info form-horizontal">
	<div class="form-group ">
		<label class="col-sm-3 control-label" for="skype-id">Skype ID</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="" id="skype-id" ng-model="newUser.skypeId"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="desk-num">Desk #</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="" id="desk-num" ng-model="newUser.deskNumber"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="phone-num">Phone #</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="" id="phone-num" ng-model="newUser.phoneNumber"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="email">Email Address</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" name="" id="email" ng-model="newUser.email"/>
		</div>
	</div>
	<h3>Location</h3>
	<div class="form-group">
		<div class="col-sm-9">
			<div ng-repeat="location in newUserOpts.locations" class="customCheckbox">
				<input id="{{location}}" type="checkbox" checklist-model="newUserLocationList" checklist-value="location">
				<label for="{{location}}">{{location}}</label>
			</div>
		</div>


	</div>
</form>