<div>



    Directory Partial

    <!-- Change this to have dot notation everywhere -->

    <label ng-repeat="employeeType in employeeTypes">
        <input type="checkbox" checklist-model="employeeTypeList" checklist-value="employeeType"> {{employeeType}}
    </label>

    <label ng-repeat="FED in FEDS">
        <input type="checkbox" checklist-model="employeeTitleList" checklist-value="FED"> {{FED}}
    </label>

    <label ng-repeat="PJM in PJMS">
        <input type="checkbox" checklist-model="employeeTitleList" checklist-value="PJM"> {{PJM}}
    </label>

    <pre>{{employeeTypeList|json}}</pre>
    <pre>{{employeeTitleList|json}}</pre>
</div>