<div class="tree row">
    <div class="col-md-12">
        <ul>
            <li>
                <a ng-href="#/orgchart/{{employee.manager}}/">{{ employee.manager }}
                {{ employee.managerTitle }}</a>
         <!--        <a ng-href="#/users/{{employee.name}}/">View Card</a>
 -->
                <ul>
                    <li>
                        <a ng-href="#/orgchart/{{employee.name}}/" class="selected">{{ employee.name }}<br/>{{ employee.title }}<br/>View Card</a>
                        <ul>
                            <li ng-if="employee.children.length" ng-repeat="child in employee.children"><a ng-href="#/orgchart/{{child.name}}/">{{ child.name }}<br/>{{ child.title }}<br/>View Card</a></li>
                            <li ng-if="!employee.children.length"><a href="#">{{ employee.name }} has no direct reports</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

